body {
  padding: 50px 0 0;
  margin: 0;
  overflow-y: hidden;
  font-family: Arial,
  Helvetica,
  sans-serif,
  Arial,
  "微軟正黑體",
  "新細明體";
  box-sizing: border-box;
  color: #626262;
  background: url('../images/watermark.png') right 50px bottom 20px no-repeat;
}

/* Tab 樣式設定*/
.nav-tabs {
  position: fixed;
  top: 0;
  left: 10px;
  display: block;
  width: calc(100% - 20px);
  padding: 0 4px;
  border-bottom: 1px solid #808080;
}
.nav-tabs ul {
  position: relative;
  top: -3px;
  display: flex;
  flex-flow: row;
  list-style: none;
  margin: 0;
  padding: 12px 0 0;
}
  .nav-tabs ul li {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 2px 1px;
  }
  .nav-tabs ul li a {
    padding: 4px 10px;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    cursor: pointer;
    text-align: center;
    color: #808080;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: #f1f1f1;
    border-radius: 0.375rem 0.375rem 0 0;
    border: 1px solid #c8c8c8;
    border-bottom-width: 0;
  }
  .nav-tabs ul li a:hover {
    background-color: #e3edfd;
    color: #626262;
  }
  .nav-tabs ul li a.active {
    background-color: #e3edfd;
    border: 1px solid #979797;
    border-bottom-width: 0;
    color: #00479d;
  }
  .nav-tabs ul li a.active:hover {
    background-color: #e3edfd;
  }
  .tab-content {
    display: none;
    overflow-y: auto;
    height: calc(100vh - 52px);
    padding: 0 30px;
  }
  .tab-content.show {
    display: block;
  }
  .default-content {
    overflow-y: auto;
    height: 100vh;
    padding: 0 30px;
  }



h1 {
  font-size: 1.8rem;
  line-height: 1.5;
}
h1.default {
  color: #00479d;
}
h2 {
  font-size: 1.6rem;
  line-height: 1.5;
}
h2.default__title {
  color: #eb6100;
}
p {
  font-size: 1.25rem;
  line-height: 1.5;
}

/* 項目符號 */
ol {
  font-size: 1.2rem;
  line-height: 1.5;
}
ol p {
  font-size: 1.2rem;
  margin-bottom: 0.125em;
  margin-top: 0.125em;
}
ol li {
  padding-bottom: 5px;
}

/* 第一層 */
.default__ol {
  margin: 0;
  padding-left: 2rem;
  list-style: none;
  text-indent: -2.3rem;
  font-size: 1.2rem;
}
  .default__ol ol {
    padding-left: 1.5rem;
    text-indent: 0;
  }
  .default__ol ol {
    padding-left: 1.5rem;
    text-indent: 0;
  }
  /* 第二層 */
  td ol.default__ol-2 {
    margin: 0;
    padding-left: 20px;
    font-size: 1.2rem;
  }
  ol.default__ol-2 {
    font-size: 1.325rem;
    color:rgb(59, 59, 59);
  }
  ol.default__ol-2 .title {
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  /* 第三層 */
  ol.default__ol-3 {
    padding-left: 2rem;
    list-style: none;
    text-indent: -1.8rem;
    font-weight: normal;
    text-align: justify;
  }
  /* 第四層 */
  .default__ol ul,
  ol.default__ol-3 ul {
    list-style-type: circle;
    padding-left: 1.5rem;
    text-indent: 0;
  }
  /* 第五層 */
  .default__ol ul ul,
  ol.default__ol-3 ul ul {
  list-style-type: '- ';
  padding-left: 1.5rem;
  text-indent: 0;
}
a {
  color: #0e55c0;
}
a:hover {
  color: #689be7;
}
.default__subTitle {
  color: #333333;
  font-weight: bolder;
}

/* 表格 */
.default__table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #999999;
  border-collapse: collapse;
  background-color: #ffffff;
}
tr:nth-child(even) {
  background: rgb(236 243 249);
}
tr:nth-child(odd) {
  background: #FFF;
}
tr.default__subItem {
  background: rgb(249 235 202);
}
.default__subItemBrown {
  background: rgb(224, 203, 178);
}
tr.default__subItemGreen,
.default__subItemGreen {
  background: rgb(201, 235, 185);
}
.default__subItemOrange {
  background: rgb(241, 213, 171);
}
.default__subItemPurple {
  background: rgb(232, 200, 243);
}
.default__table th,
.default__table td {
  border: 1px solid #999999;
  padding: 0.5rem;
}
.default__table th {
  background-color: rgb(181, 205, 245);
  text-align: center;
  font-size: 1.3rem;
  white-space: nowrap;
}
.default__table td {
  /* vertical-align: top; */
  font-size: 1.2rem;
}
.default__table td:first-child {
  vertical-align: middle;
}
.default__table td.vertical-center {
  vertical-align: middle;
}

/* 字體顏色 */
.colorRed {
  color: red;
}
.colorGreen {
  color: rgb(27, 153, 27);
}
.colorBlue {
  color: rgb(35, 111, 209);
}
.textColorGreen {
  color: #108e27;
}
.item-title {
  margin: 0;
  padding-bottom: 5px;
  color: #333333;
  font-weight: bolder;
  font-size: 1.1rem;
}
.item-title::before {
  color: #333333;
  content: '◆';
  font-weight: bolder;
  padding-right: 5px;
}

/* 圖片設定 */
.image__wrapper {
  /* display: inline-block; */
  padding-top: 10px;
}
.image__wrapper.full {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
img.default {
  border: 4px solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px #ccc;
  width: calc(100% - 8px);
}
img.default.noborder {
  border-width: 0;
  box-shadow:none;
}
.photo-gallery {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.photo-gallery .photo {
  width: 48%;
  margin: 10px 5px;
}
.photo-gallery.third-column .photo {
  width: 32%;
  margin: 10px 5px;
}
figcaption {
  padding: 5px;
  font-size: 1rem;
}

/* 其他 */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-nowrap {
  white-space: nowrap;
}
.bedge {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -26px;
  left: -22px;
  background: url('../images/picture/no1.png') no-repeat;
}
.focusArea {
  position: relative;
}